{% extends "layout.html" %}

{% block content %}

{% if not user %}

  <div class="container">
    <div class="mt-1">
      <h1 style="color:black">Profile</h1>
    </div>
    <p class="lead" style="color:black">You need to log in to see this page</p>

    <a type="button" class="btn btn-default" href="/auth" style="color:black">Login</a>
  </div>

{% else %}

	<div class="container">


	  <h1 style="color:black"> Welcome {{ user.display_name }}! </h1>

    <hr class="half-rule-title"/>

	  <div class="row">
      <div class="col-sm-4">

        <section class="sec">

          {% if user.images %}
            <img src="{{user.images[0].url}}" class="img-square">
          {% else %}
            <img src="http://bit.ly/2nXRRfX" class="img-square">
          {% endif %}

          <h4 style="color:black" align="left">Followers: {{ user.followers.total }} </h3>
        </section>
      </div>

      <div class="col-sm-4" align="center">

        <h3 style="color:black" align="center" > Your playlists: </h3>
        <hr class="half-rule-title" style="color:black"/>

        {% for play in playlists %}
          <div class='row'>
            <a href="{{ play.external_urls.spotify }}">

              <div class='col-sm-8'>
                <span style="color:rgb(0, 0, 0)"> {{ play.name }} </span>
              </div>

            </a>
          </div>
        {% endfor %}
      </div>

      <div class="col-sm-4" align="center">

        <h3 style="color:black" align="center"> Recently played:</h3>
        <hr class="half-rule" style="color:black"/>

        {% for track in recently_played %}
          <div class='row'>
            <a href="{{track.track.external_urls.spotify}}">

              <div class='col-sm-14'>
                <span style="color:black" style="text-align:center">{{track.track.name}}</span>
              </div>

            </a>
          </div>
        {% endfor %}
      </div>

    </div>
	</div>

{% endif %}

{% endblock %}
